  h1 {
            text-align: center;
         

        }

        .images1 {
            
            width: 640px;
            height: 820px;
            padding: 20px;
            border: 20px ;
        }
        .process1{
            
           
            max-width: 100%;
            height: auto;


        }
        
h1{

    font-size: 3em;
}

        h2{

            font-family: 'Noto Serif', serif;
            font-size: 40px;
            text-align: center;

        }
       h5{
        font-family: 'EB Garamond', serif;
           padding-top: 10em;
           padding: 1em;
          
        font-size: 23px;
        place-items: center;
        
       }
       
       h4{

        text-align: center;
        font-size: 1.5em;
    }
    h3{

        padding: 2em 5em;
          text-align: center;
          background-color: rgb(202, 200, 200);
      }
         
        .box1 {
            width: 860px;
            height: 700px;
            margin: 13px;
            padding: 20px;
            padding-bottom: 2em;
        }
        .box2 {
            width: 500x;
            height: 800px;
            margin: 13px;
            padding: 20px;
        max-width: 100%;
        height: auto;
    
    
    }
    
        .box4 {
            width: 500px;
            height: 600px;
            align-content: center;
            margin: 2px;
            padding: 20px;
            border: 0.1px #dab6a8;
            background-color: #dab6a8;
        }

        .box5 {
            width: 500px;
            height: 600px;
            margin: 2px;
            align-self: left;
            padding: 20px;
            border: 0.1px #dab6a8;
            background-color: #dab6a8;
        }
        .box6 {
            width: 500px;
            height: 600px;
            margin: 2px;
            align-self: left;
            padding: 20px;
            border: 0.1px #dab6a8;
            background-color: #dab6a8;
        }
        .box7 {
            width: 500px;
            height: 600px;
            margin: 12px;
            align-self: left;
            padding: 20px;
            border: 0.1px #dab6a8;
            background-color: #dab6a8;
        }
        .box8 {
            width: 500px;
            height: 600px;
            margin: 2px;
            align-self: left;
            padding: 20px;
            border: 0.1px #dab6a8;
            background-color: #dab6a8;
        }
        .box9 {
            width: 500px;
            height: 600px;
            margin: 2px;
            align-self: left;
            padding: 20px;
            border: 0.1px #dab6a8;
            background-color: #dab6a8;
        }

        .box10 {
            width: 500px;
            height: 600px;
            align-content: center;
            margin: 2px;
            padding: 20px;
            border: 0.1px #dab6a8;
            background-color: #dab6a8;
        }

        .box11 {
            width: 500px;
            height: 600px;
            margin: 2px;
            align-self: left;
            padding: 20px;
            border: 0.1px #dab6a8;
            background-color: #dab6a8;
        }

        .grid-container {
    display: grid;
    grid-template-columns: 0.3fr 3fr;
    grid-gap: 20px grid-auto-rows 30px;
    gap: 23px 10em;
}



        .grid-container1 {
            display: grid;
            grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr;
            grid-gap: 5px grid-auto-rows 05px;
            grid-column: 5px grid-auto-rows 05px;
            gap: 0.2px 0.2em 0.2em;

        }
        .grid-container2 {
            display: grid;
            grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr;
            grid-gap: 5px grid-auto-rows 05px;
            grid-column: 5px grid-auto-rows 05px;
            gap: 0.2px 0.2em 0.2em;
        }
        .grid-container3 {
            display: grid;
            grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
            grid-gap: 5px grid-auto-rows 05px;
            grid-column: 5px grid-auto-rows 05px;
            gap: 0.2px 0.2em 0.2em;

        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 5em;
    
        }
        .right {
           
        
           
           
      float: right;
            width: 200px;
            height: 200px;
            margin-left: auto;
            margin-right: auto;
          
    
           
            
        }
       
        h3{

            text-align: Center;
            padding: 1em 3em;
            background-color: rgb(237, 237, 252);
            font-size: 25px;
            
            }
            .button1 {

                background-color: #d9e9af;
                border: 0.1px #d9e9af;
                margin: 0 10px;
                width: 300px;
              
            }